<!DOCTYPE html>
<html>
<%- include('head')%>
<body>
<a href="/newartists">New Artist</a>
  <h1>Artists</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Wiki</th>
      </tr>
    </thead>
    <tbody>
      <% music.forEach(function (music) { %>
        <tr>
          <td><%= music.name %></td>
          <td><%= music.genre %></td>
          <td><a href=<%= music.wiki %>>Wikipedia</td>
          <td>
            <form action='/aindex/delete/<%=music._id %>' method="POST">
              <input type='submit' value="Delete">
            </form>
          </td>
       </tr>
      <% }); %>
    </tbody>
  </table>
</body>
<%- include('javascripts')%>
</html>
